
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load social_share %}
{% load static %}


<header class="header slider-fade">
    <div class="owl-carousel owl-theme">
        <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
        <div class="text-start item bg-img" data-overlay-dark="3" data-background="{% static 'img/slider/1.jpg' %}">
            <div class="v-middle caption mt-30">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <h1>{{page.banner_title4}}</h1>
                            <p>{{ page.TS_info1 }}
                                <br>Curabitur viverra the posuere aukue velit.
                            </p>
                            <div class="butn-light mt-30 mb-30"> <a href="https://1.envato.market/mDnXD" target="_blank"><span>Ingresar</span></a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-left item bg-img" data-overlay-dark="4" data-background="{% static 'img/slider/2.jpg' %}">
            <div class="v-middle caption mt-30">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <h1>Innovate Desing in Canada</h1>
                            <p>Architecture viverra tellus nec massa dictum the euismoe.
                                <br>Curabitur viverra the posuere aukue velit.
                            </p>
                            <div class="butn-light mt-30 mb-30"> <a href="https://1.envato.market/mDnXD" target="_blank"><span>Buy Now</span></a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>